.form-switch.form-switch-lg .form-check-input {
  width: 3.5rem;   /* increased from 3rem */
  height: 1.75rem; /* increased from 1.5rem */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-switch.form-switch-lg .form-check-input:checked {
  background-color: #0d6efd; /* Bootstrap primary blue */
}

::ng-deep .ng-select .ng-value {
  white-space: normal !important;
  line-height: 1.3;
}


::ng-deep .ng-dropdown-panel .ng-option {
  white-space: normal !important;
  line-height: 1.3;
}

::ng-deep ng-select[name="focusProductId"] .ng-select-container {
  min-height: 52px;     
  padding-top: 6px;
  padding-bottom: 6px;
}

::ng-deep ng-select[name="focusProductId"] .ng-value {
  display: flex;
  align-items: center;
  white-space: normal;  
}

::ng-deep ng-select[name="focusProductId"] .ng-arrow-wrapper {
  align-self: center;
}